/*=============  Celular  =============*/

body{
    background-color: #ffffff;
    color:#5aa166;
    font-size: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

input[type=button], input[type=submit], input[type=reset]{
    background-color: #5aa166;
    border: #469653;
    color: #e5e7ca;
    padding: auto;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 35px;
    
  }

  input[type=email], input[type=password], input[type=text], input[type=date], input[type=file], select{
    background-color: #92c99b;
    border: none;
    color: #e5e7ca;
    padding: auto;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 35px;

}
