body{
    font-size: 40px;
    display: grid;
    background-image: url("futsal.png");
    background-repeat: repeat;
    background-color: #252525;
    color: rgb(255, 255, 255);
}

input[type=button], input[type=submit], input[type=reset] {
    color: white;
}    

h1{
    text-align: center;
    font-size: 40px;
}

.campo img{ 
    margin: auto;
    display: block;
    width: 70%;
}

.posicoes{
    position: relative;
}

.reservas{
    display: flex;
    justify-content: center;
}

.goalkeeper{
    top: -710px;
    left: 1300px;
    position: absolute;
}

.fixed{
    top: -700px;
    left: 1100px;
    position: absolute;
}

.rightwing{
    top: -900px;
    left: 900px;
    position: absolute;
}

.leftwing{
    top: -500px;
    left: 900px;
    position: absolute;
}

.target{
    top: -700px;
    left: 600px;
    position: absolute;
}