@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/*=============  Celular  =============*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
    color:#5aa166;
    font-size: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=button], input[type=submit], input[type=reset]{
    background-color: #5aa166;
    border: #469653;
    color: #e5e7ca;
    padding: 32px 64px;
    text-decoration: none;
    margin: 15px 10px;
    cursor: pointer;
    font-size: 35px;
    
  }

input[type=email], input[type=password]{
    background-color: #92c99b;
    border: none;
    color: #e5e7ca;
    padding: 32px 64px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 35px;

}

.botao{
    border: none;
    background-color: #5aa166;
    color: #ffffff;
    height: 115px;
    width: 235px;
    margin: auto;
    padding: 35px 30px;
    font-weight:bold
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.logo{
	position: relative;
    left:19%;
}


.quadra{
    clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 0% calc(100% - 550px));
}

img{
    width: auto;
}