@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    background-color: #ffffff;
    color:#5aa166;
    font-size: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    flex-direction: column;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quadra{
    width: auto;
}
