@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/*=============  Geral  =============*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #382F26;
    color: #5aa166;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0 auto; 
}
header{
    background-color: #469653;
    color: white;
    width: 100%;
    box-sizing: content-box;
    height: 170px;

}
.logo{
    display: block;
    margin: 0 auto; 
}

.quadra{
    width: auto;
}


input[type=button], input[type=submit], input[type=reset]{
    background-color: #5aa166;
    border: #469653;
    color: #eff0cf;
    text-decoration: none;
    cursor: pointer;
}

input[type=email], input[type=password], input[type=text], input[type=date], input[type=number], input[type=file], select{
    background-color: #92c99b;
    border: none;
    color: #eff0cf;
    text-decoration: none;
    cursor: pointer;
}

input[type=submit]{
    font-weight: bold;
}

.botao{
    border: none;
    background-color: #66c776;
    color: #ffffff;
    font-weight:bold;
    padding: 2%;
    width: 100px;
    height: 80px;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

label{
    color: white;
    font-weight: bold;
}


/*=============  Celular  =============*/
@media screen and (max-width: 601px) {
    
    body{
        font-size: 25px;
    }
    
    input[type=button], input[type=submit], input[type=reset]{
        width: 60%;
        padding: 10px 10px;
        margin: 10px 10px;
        font-size: 15px;
    }
    
    input[type=email], input[type=password], input[type=text], input[type=date], input[type=number], select{
        width: 60%;
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 15px;
    }

    input[type=file], select{
        width: 60%;
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 15px;
    }

    h1{
        font-size: 20px;
    }

    .botao,a,a:hover, a:focus, a:active {
        margin: auto;
        padding: 2%;
        width: 60%;
    }

    label{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}
/*=============  Tablet  =============*/
@media screen and (max-width: 1024px) {

    body{
        font-size: 30px;
    }
    
    
    input[type=button], input[type=submit], input[type=reset]{
        width: 60%;
        padding: 10px 10px;
        margin: 10px 10px;
        font-size: 20px;
    }
    
    input[type=email], input[type=password], input[type=text], input[type=date], input[type=number], select{
        width: 60%;
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 20px;
    }

    input[type=file], select{
        width: 60%;
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }

    .botao,a,a:hover, a:focus, a:active {
        margin: auto;
        padding: 2%;
        width: 60%;
    }

    label{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

}

/*=============  Computador  =============*/
@media screen and (min-width: 1024px) {
    body{
        font-size: 40px;
    }
    
    
    input[type=button], input[type=submit], input[type=reset]{
        width: 60%;
        padding: 10px 10px;
        margin: 10px 10px;
        font-size: 20px;
    }
    
    input[type=email], input[type=password], input[type=text], input[type=date], input[type=number], select{
        width: 60%;
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 20px;
    }

    input[type=file], select{
        width: 60%;
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }

    .botao,a,a:hover, a:focus, a:active {
        margin: auto;
        width: 150px;
    }

    label{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

}
