@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/*=============  Geral  =============*/

body{
    background-color: #ffffff;
    color: #5aa166;
    font-family: 'Noto Sans', sans-serif;
}

input[type=button], input[type=submit], input[type=reset]{
    background-color: #5aa166;
    border: #469653;
    color: #e5e7ca;
    text-decoration: none;
    cursor: pointer;
}

input[type=email], input[type=password], input[type=text], input[type=date], input[type=number], input[type=file], select{
    background-color: #92c99b;
    border: none;
    color: #e5e7ca;
    text-decoration: none;
    cursor: pointer;
}

.botao{
    border: none;
    background-color: #5aa166;
    color: #ffffff;
    font-weight:bold
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*=============  Celular  =============*/
@media screen and (max-width: 601px) {
    
    body{
        width: max-content;
        font-size: 25px;
        text-align: center;
    }
    
    .container{
        display: flex;
        width: max-content;
        flex-direction: column;
        align-items: center;
    }
    
    input[type=button], input[type=submit], input[type=reset]{
        padding: 15px 30px;
        margin: 15px 10px;
        font-size: 25px;
    }
    
    input[type=email], input[type=password], input[type=text], input[type=date], input[type=number]{
        padding: center;
        margin: center;
        font-size: 25px;
    }

    input[type=file], select{
        padding: 3px 5px;
        margin: 3px 2px;
        font-size: 19px;
    }

    h1{
        font-size: 21px;
    }

    .botao,a,a:hover, a:focus, a:active {
        margin: center;
        padding: center;
    }
}
/*=============  Tablet  =============*/
@media screen and (max-width: 1024px) {

}

/*=============  Computador  =============*/
@media screen and (min-width: 1024px) {

}